body {
  margin: 0;
}


/***********
NAVBAR
***********/

.nav-bar {
  z-index: 10;
  width: 100%;
  box-shadow: 0px 0px 1px rgba(0,0,0,.3);
}

.nav-links {
  height: 50px;
  width: 100%;
  background: white;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-btn {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
  transition: all 200ms;
}

.nav-btn:hover {
  transform: scale(1.1);
}

.nav-btn.logo {
  transition: all 300ms;
}

.nav-btn.logo:hover {
  transform: scale(1.1) rotate(5deg) translateX(10px);
}

.nav-btn.right {
  margin-left: 85%;
  transition: all 300ms;
}

.nav-btn.right:hover {
  transform: scale(1.1) rotate(3deg);
}


/*******************
HERO
*******************/

.hero {
  height: calc(99vh - 50px);
  width: 100%;
  background: linear-gradient(rgba(44, 62, 80,.6), rgba(44, 62, 80,.6)), url('https://image.ibb.co/nyaXSK/IMG_5247.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
